* {
    background-color: #ECEBF1;
    font-family: "Verdana", sans-serif;
    outline: 1px solid red;
}

h1 {
    color: #212125;
    text-align: center;
    margin: 60px;
}

ul{
    width: 75%;
    margin: auto;
    padding: 0;
    text-align: center
}

li {
    display: inline-block; 
    margin: 20px;
    width: 300px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    vertical-align: top; 
    min-height: 60px;  /* Prevents the boxes from having different sizes */
}

a { 
    display: block;  /* Make the anchor fill its parent's space */
    padding: 30px;
    background-color: white;
}

li::marker {
    color: rgb(223, 43, 184);
  }
  