* {
    background-color: #ECEBF1;
    font-family: "Verdana", sans-serif;
}

h1 {
    color: #212125; ;
}

a {
    font-size: 18px;
    color: #312f38;
}

li::marker {
    color: rgb(223, 43, 184);
  }
  